<ion-content>
  <ion-slides class="ion-no-padding" [options]="slideOpts" pager="true">
    <ion-slide *ngFor="let img of slides">
      <ion-img src="https://image.tmdb.org/t/p/w500{{img.poster_path}}"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-searchbar placeholder="Choose your movie..." color="light" class="ion-padding"></ion-searchbar>
    <h1 class="ion-padding-horizontal">
      <ion-text color=light>| Genres</ion-text>
    </h1>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let type of types">
          <ion-card [button]="true" class="ion-text-capitalize">
            <ion-text color=dark>
              {{type.name}}
            </ion-text>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>